{% extends '@TeiEdition/Default/base.html.twig' %}

{% import '@TeiEdition/Shared/map-leaflet.html.twig' as map %}

{% block head %}
    {{ map.head() }}
    {{ map.head_markercluster() }}

    <script src="{{ app.request.basepath }}/js/blazy.min.js"></script>
{% endblock %}

{% block contenttop %}
    {% embed '@TeiEdition/Default/contenttop_skeleton.html.twig' %}
    {% block carousel %}
        <div class="row" style="margin-top: -24px; margin-bottom: 24px">
            <div id="carouselExampleSlidesOnly" class="carousel slide w-100" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" style="max-height: 275px; overflow-y: hidden">
                        <img class="d-block w-100" src="{{ app.request.basepath }}/img/carousel/home.jpg" alt="">
                    </div>
                </div><!-- .carousel-inner -->
            </div><!-- .carousel -->
        </div>
    {% endblock %}
    {% endembed %}
{% endblock %}

{% block contentcontainer %}
<div class="container wrapper flex-grow-1 overflow-auto">
{% block body %}
    <div class="row">
        <div id="col-main" class="col-sm-8">
            <div class="article">
                {#<h4>{{ 'Welcome'|trans }}</h4>#}
                <div class="two-columns-disabled justify-hyphens">
                    {% if 'en' == app.request.locale %}
                        <p class="dta-p">
                            The <a href="https://www.igdj-hh.de/en/" target="_blank">Institute for the History of the German Jews</a> (IGdJ), PD Dr. Andreas Brämer, and the <a href="http://www.bet-tfila.org/" target="_blank">Bet Tfila - Research Unit for Jewish Architecture in Europe</a>, PD Dr.-Ing. Ulrich Knufinke, are developing an online anthology on the topic of Jewish architecture and Jewish space. The online anthology is part of the tandem project <a href="https://gepris.dfg.de/gepris/projekt/497336599?language=en" target="_blank">“Constructions of Jewish Cultural Heritage in Theoretical-Critical and Literary Texts on Architecture and Space”</a>, which both partners are working on in the context of the <a href="https://spp-juedisches-kulturerbe.de/en/home/" target="_blank">DFG Priority Program 2357 “Jewish Cultural Heritage”</a>.
                        </p>
                        <p class="dta-p">
                            The focus is on selected textual sources (fictional/non-fictional) from the Haskalah to the immediate post-World War II period (1750-1965), which are used to cast thematic spotlights on the significance of Jewish architectures, spaces, and urban places for the construction and self-understanding of Jewish cultural heritage.
                        </p>
                        <p class="dta-p">
                            <a href="{{ path('about') }}">read on...</a>
                        </p>
                    {% else %}
                        <p class="dta-p">
                            Das <a href="https://www.igdj-hh.de/" target="_blank">Institut für die Geschichte der deutschen Juden</a> (IGdJ), PD Dr. Andreas Brämer, und die <a href="http://www.bet-tfila.org/" target="_blank">Bet Tfila – Forschungsstelle für jüdische Architektur in Europa</a>, PD Dr.-Ing. Ulrich Knufinke, erarbeiten eine Online-Anthologie zum Themenfeld der jüdischen Architektur und jüdischem Raum. Die Online-Anthologie ist Teil des Tandem-Projekts <a href="https://gepris.dfg.de/gepris/projekt/497336599?language=de" target="_blank">„Konstruktionen jüdischen Kulturerbes in theoretisch-kritischen und literarischen Texten zu Architektur und Raum“</a>, das beide Partner im Kontext des <a href="https://spp-juedisches-kulturerbe.de/" target="_blank">DFG-Schwerpunktprogramms 2357 „Jüdisches Kulturerbe“</a> bearbeiten.                         </p>
                        <p>
                            Im Mittelpunkt stehen ausgewählte Textquellen (fiktional/nichtfiktional) von der Haskala bis in die unmittelbare Zeit nach dem Zweiten Weltkrieg (1750–1965), anhand derer thematische Schlaglichter auf die Bedeutung jüdischer Architekturen, Räume und städtebaulicher Plätze für die Konstruktion und das Selbstverständnis jüdischen Kulturerbes geworfen werden.                        </p>
                        <p>
                            <a href="{{ path('about') }}">mehr...</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-sm-4 sidebar">
            {% if genres is not empty %}
            <div class="mb-4">
                {% for genre in genres %}
                    {% set genre_localized = genre|trans({}, 'additional') %}
                <a href="{{ path('genre-index') }}#{{ genre_localized|slugify }}" class="genre-underlined genre-{{ genre|slugify }}">
                    {{ genre_localized }}
                </a>
                {% endfor %}
            </div>
            {% endif %}
            <div class="container-fluid box">
                {% if 'en' == app.request.locale %}
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>Call for Papers</h4>
                    </div>
                </div>
                <div class="row box-color-content">
                    <div class="col-sm-12">
                        <a href="https://igdj-hh.de/fileadmin/user_upload/CfP_Workshop_Hamburg_Juni_2024_Text_Englisch.pdf" target="_blank"><b>Constructions of Jewish Cultural Heritage in Fictional Texts on Architecture, City, and Space</b></a><br />
Workshop at the Warburg-Haus, Heilwigstr. 116, 20249 Hamburg<br />
Workshop period: June 26–27, 2024<br />
Deadline: January 31, 2024
                    </div>
                </div>
                {% else %}
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>Call for Papers</h4>
                    </div>
                </div>
                <div class="row box-color-content">
                    <div class="col-sm-12">
                        <a href="https://igdj-hh.de/fileadmin/user_upload/CfP_Workshop_Hamburg_Juni_2024_Text_Deutsch.pdf" target="_blank"><b>Konstruktionen jüdischen Kulturerbes in literarischen Texten zu Architektur, Stadt und Raum</b></a><br />
Workshop im Warburg-Haus, Heilwigstr. 116, 20249 Hamburg<br />
Tagungszeitraum: 26.–27. Juni 2024<br />
Deadline: 31. Januar 2024
                    </div>
                </div>
                {% endif %}
                {#
                <!--
                <div class="row box-color-content border-top">
                    <div class="col-sm-12">
                    </div>
                </div>
                -->
                #}
            </div>
        </div>
    </div><!-- .row -->
    {% endblock body %}
</div><!-- .container -->

<div id="home-jumbotron" class="jumbotron jumbotron-fluid pt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4><a href="{{ path('genre-index') }}">{{ 'Genre'|trans }}</a></h4>
            </div>
        </div>
        <div class="row">
            {% for genre in genres %}
                {% set genre_localized = genre|trans({}, 'additional') %}
            <div class="col-sm-4">
                <a href="{{ path('genre-index') }}#{{ genre_localized|slugify }}">
                    <img src="{{ app.request.basepath }}/img/tile/{{ genre|slugify }}.{{ app.request.locale }}.svg" style="width: 100%; height: auto" alt="" />
                    <div class="genre-arrow genre-{{ genre|slugify }}">{{ genre_localized }}</div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="row mt-5">
            <div class="col-sm-4">
                <h4><a href="{{ path('topic-index') }}">{{ 'Topics'|trans }}</a></h4>
                <a href="{{ path('topic-index') }}">
                    <img src="{{ app.request.basepath }}/img/tile/topic.svg" style="width: 100%; height: auto" alt="" />
                </a>
            </div>
            <div class="col-sm-4">
                <h4><a href="{{ path('place-map') }}">{{ 'Map'|trans }}</a></h4>
                <a href="{{ path('place-map') }}">
                    <img src="{{ app.request.basepath }}/img/tile/map.svg" style="width: 100%; height: auto" alt="" />
                </a>
            </div>
            <div class="col-sm-4">
                <h4><a href="{{ path('date-chronology') }}">{{ 'Chronology'|trans }}</a></h4>
                <a href="{{ path('date-chronology') }}">
                    <img src="{{ app.request.basepath }}/img/tile/chronology.svg" style="width: 100%; height: auto" alt="" />
                </a>
            </div>
        </div>
    </div>
    {#
    <div class="container-fluid box">
        <div class="row box-header map">
            <div class="col-sm-12">
                <h4><a href="{{ path('place-map') }}">{{ 'Map'|trans }}</a></h4>
            </div>
        </div>
        <div class="row box-content">
            <div class="col-sm-12">
                <div id="map-container">
                    <div id="map" style="width: 100%; min-height: 320px"></div>
                    <script>
                    $( document).ready(function () {
                        showMap();
                    });

                    {{ map.showMap(bounds, markers) }}
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid box" style="margin-top: 2em">
        <div class="row box-header chronology">
            <div class="col-sm-12">
                <h4><a href="{{ path('date-chronology') }}">{{ 'Chronology'|trans }}</a></h4>
            </div>
        </div>
        <div class="row box-content">
            <div id="chronology" data-url="{{ path('date-chronology-partial') }}" style="max-height: 320px; overflow-y: scroll; overflow-x: hidden">
                {{ 'Loading...' | trans }}
                <script>
                    var chronologyLoaded = false;

                    $( document).ready(function () {
                        if (!chronologyLoaded) {
                            var pane = $( '#chronology' );
                            var url = pane.attr("data-url");

                            // ajax load from data-url
                            $( pane ).load(url,function(result){
                                chronologyLoaded = true;
                            });
                        }
                    });
                </script>
            </div>
        </div>
    </div>
    #}
</div><!-- .jumbotron -->
{% endblock contentcontainer %}
